/* -----------
    GENERAL
------------*/

* { 
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

.grid {
    display: grid;
    grid-template-areas: "n n n"
                         "h h h"
                         "b b s"
                         "b b s"
                         "f f f";
}

/* -----------
    NAVBAR
------------*/

.navbar {
    grid-area: n;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: white;
    font-size: 1.25em;
    width: 100%;
    z-index: 9999;
}

.navbarLogo {
    height: 60px;
    padding-top: 5px;
    padding-left: 10px;
}
.navbarList {
    display: flex;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;

}

.navbarLink {
    display: inline-block;
    margin: 0.08em 0.25em;
    padding: 1.2em 1em;
    border-radius: 2%;
    color: black;
    text-decoration: none;
}

.navbarLink:hover{
    background-color: rgba(205, 68, 205, 0.801);
    color: white;
}
.navbarMenu {
    display: none;
}

.menuLine {
    width: 20px;
    height: 3px;
    background-color: rgba(0,0,0,0.60);
    margin-bottom: 4px;
}

@media all and (max-width: 480px) {
    .navbar {
        flex-direction: column;
    }
    .navbarMenu {
        display: block;
        position: absolute;
        right: 20px;
        top: 21px;
    }
    .navbarList {
        list-style-type: none;
        width: 100%;
        text-align: center;
        display: none;
    }
    .navbarLink {
        display: block;
        padding: .8em .8em;
        border-top: 1px solid rgba(0,0,0,0.60);
    }
    .navbarLogo {
        height: 50px;
    }
    .active {
        display: block;
    }
    
}

/* -----------
    HEADER
------------*/

header {
    grid-area: h;
}

.headerBanner {
    position: relative;
    top: 80px;
    color: black;
}
.bannerImage {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(0,0,0,0.60);
    
}
.bannerText {
    position: absolute;
    font-family: outfit, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 5%;
    left: 5%;
}
.bannerTitle{
    font-size: 9vw;  
    font-weight: bolder; 
    margin-bottom: 1rem;
}
.bannerSubtitle{
    font-size: 6vw;  
    font-weight: lighter; 
}


/* -----------
    SECTION
------------*/
section {
    grid-area: b;
}

.booksArticle:first-child{
margin-top: 10em;
padding: 0 4em;
}

.booksArticle{
    margin-top: 2em;
    padding: 0 4em;
    }

.booksArticle  h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    padding-bottom: 1.5rem;
}

.booksContainer {
    padding: 1em;
    width: 80%;
    overflow: hidden;
}

.booksList {
    display: flex;
    list-style-type: none;
    width: 100%;  
}

.bookThumbnail img {
    width: 100%;
    height: auto;
}

.bookTwo {
    position: absolute;
    margin-left: 8%;
}

.bookThree {
    position: absolute;
    margin-left: 16%;
}

.bookFour {
    position: absolute;
    margin-left: 24%;
}

.bookFive {
    position: absolute;
    margin-left: 32%;
}

.bookSix {
    position: absolute;
    margin-left: 40%;
}

.bookSeven {
    position: absolute;
    margin-left: 48%;
}

.booksLink {
    display: flex;
    position: absolute;
    margin-left: 56%;
    opacity: 55%;
}

.bookThumbnail:hover {
    z-index: 2;
    transform: scale(1.1);
    transition: .2s;
}

.bookThumbnail:not(:hover) {
    transform: scale(1);
    transition: .2s;
}

.booksLink:hover {
    opacity: 95%;
}


/* -----------
    ASIDE
------------*/

aside {
    grid-area: s;
    background-color: black;
}



/* -----------
    FOOTER
------------*/

footer {
    grid-area: f;
    background-color: gray;
}

/* -----------
    FORM
------------*/
