/* Note: Mobile-first design 


/* -----------
    GENERAL
------------*/

* { 
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}


.bodyGrid {
    display: grid;
    grid-template-areas: "head head"
                         "nav nav"
                         "sect side"
                         "foot foot";
    grid-template-columns: 3fr 1fr;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

h4 {
    font: 1.5rem sans-serif;
}

/* -----------
    HEADER
------------*/

header {
    grid-area: head;
}

.headerTop {
    display: none;
    padding: .15em;
    background-color: #6ca7b5;
}

.headerTop a {
    margin-right: 1em;
}

.headerBanner {
    display: flex;
    justify-content: space-between;
    height: 11rem;
    background-color: #2c494d;
}

.bannerImage {
    padding-left: 3em;
    padding-top: .7em;
}

.bannerImage img{
    height: 150px;
}

.bannerContainer {
    width: 50%;
}

.bannerButtons ul {
    list-style-type: none;
    display: flex;
}

.bannerButtons li {
    display: inline-block;
    margin: 0.08em 0.25em;
    padding: 1.2em 1em;
    border-radius: 2%;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;;
    font-size: 1.1em;
}

.bannerButtons li:first-child {
    padding-left: 0;
    margin-left: 0;
}

.bannerButtons .fa-solid {
    color: #bbdfc4;
	transition: all 0.2s ease;
}

.bannerButtons .fa-solid:hover {
    color: #ffffff;
}

.bannerSearch {
    width: 90%;
    margin-top: 2em;
    display: flex;
}

.bannerSearch input {
    width: 100%;
    height: 2.25em;
    padding: .2em;
    border: 2px solid #bbdfc4;
    border-radius: 2px;
}

.bannerSearch button {
    width: 5em;
    background-color: #bbdfc4;
    border: 2px solid #bbdfc4;
}


/* -----------
    NAVBAR
------------*/

.navbarContainer {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    height: 4rem;
    background-color: #bbdfc4;
    font-size: 1.25em;
    z-index: 9999;
}

.navbarContainer ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

.navbarLink {
    margin: 0 1.5em;
    padding: 1em 2em;
    border-radius: 2%;
    color: black;
    text-decoration: none;
}

.navbarLink:hover{
    background-color: #6ca7b5;
    color: white;
    transition: all 0.1s ease;
}

.navbarLogo {
    display: none;
}

.navbarSticky {
    position: sticky;
    top: 0;
    box-shadow:  0 1px 10px #2c494d;
}

.logoSticky {
    display: flex;
    align-items: center;    
}

.logoSticky img {
    height: 3em;
}

.navbarMenu {
    display: none;
}

.menuLine {
    width: 20px;
    height: 3px;
    background-color: rgba(0,0,0,0.60);
    margin-bottom: 4px;
}

@media all and (max-width: 480px) {
    .navbar {
        flex-direction: column;
    }
    .navbarMenu {
        display: block;
        position: absolute;
        right: 20px;
        top: 21px;
    }
    .navbarList {
        list-style-type: none;
        width: 100%;
        text-align: center;
        display: none;
    }
    .navbarLink {
        display: block;
        padding: .8em .8em;
        border-top: 1px solid rgba(0,0,0,0.60);
    }
    .navbarLogo {
        height: 50px;
    }
    .active {
        display: block;
    }
    
}


/* -----------
    SECTION
------------*/
section {
    grid-area: sect;
}

.carrouselContainer {
    justify-self: center;
	width: 100%;
    height: auto;
	overflow: hidden;
	box-shadow: 0 1px 6px rgba(0,0,0,0.23);
}

.carrouselContainer ul {
	display: flex;
    justify-content: center;
	padding: 0;
	width: 200%;
    height: auto;
	animation: imageCarrousel 10s ease-in-out infinite;
}

.carrouselContainer li {
    width: 100%;
    height: auto;
	list-style: none;
	margin: 1em 1em 0.1em;
}

.carrouselContainer img {
	width: 100%;
	height: auto;
}

@keyframes imageCarrousel {
	0% {margin-left: 0;}
	45% {margin-left: 0;}

	50% {margin-left: -100%}
	95% {margin-left: -100%}
}

.booksArticle{
    padding: 2.5em 2em;
    }

.booksContainer {
    padding: 1em;
    width: 80%;
}

.booksList {
    display: flex;
    list-style-type: none; 
}

.bookTwo {
    position: absolute;
    margin-left: 8%;
}

.bookThree {
    position: absolute;
    margin-left: 16%;
}

.bookFour {
    position: absolute;
    margin-left: 24%;
}

.bookFive {
    position: absolute;
    margin-left: 32%;
}

.bookSix {
    position: absolute;
    margin-left: 40%;
}

.bookSeven {
    position: absolute;
    margin-left: 48%;
}

.booksLink {
    display: flex;
    position: absolute;
    margin-left: 56%;
    opacity: 55%;
}

.bookThumbnail:hover {
    z-index: 2;
    transform: scale(1.1);
    transition: .2s;
}

.bookThumbnail:not(:hover) {
    transform: scale(1);
    transition: .2s;
}

.booksLink:hover {
    opacity: 95%;
}


/* -----------
    ASIDE
------------*/

aside {
    grid-area: side;
}

.sideContainer {
    background-color: #f1f1f1;
    height: 100%;
    padding: 1rem;
  }

.sideContainer h3 {

}

/* -----------
    FOOTER
------------*/

footer {
    grid-area: foot;
    background-color: #a5acab;
}

.footerContainer {
    display: grid;
    grid-template-areas: "about faq acc"
                         "soc soc soc"
                         "copy copy copy";
    row-gap: 2em;
    justify-items: center;
    padding: 2em;
    color: white;
}

.footerContainer h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
}

.footerContainer ul {
    list-style-type: none;
    font-size: 1.2em;
}

.footerContainer li {
    padding-top: 1em;
}

.footerContainer a {
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footerContainer a:hover {
    color: #565656;
}

.footerAbout {
    grid-area: about;
}

.footerFaq {
    grid-area: faq;
}

.footerAccount {
    grid-area: acc;
}

.footerSocial {
    grid-area: soc;
    display: flex;
    align-items: center;
}

.footerSocial .fa-stack .fa-stack-1x {
    color: #ffffff;
	transition: all 0.2s ease;
}

.footerSocial .fa-stack .fa-stack-2x {
	color: #565656;
	transition: all 0.2s ease;
}

.footerSocial .fa-stack:hover .fa-stack-1x {
	color: #565656;
}

.footerSocial .fa-stack:hover .fa-stack-2x {
    color: #ffffff;
}

.footerCopyright {
    grid-area: copy;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1em 4em;
    border: 1px solid #646464;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
}

.developerInfo {
    display: flex;
    align-items: center;
    font-family: Outfit, "Open Sans", sans-serif;
    font-size: 1.2em;
}

.developerInfo img {
    height: 3.5em;
    padding-left: .8em;
}

/* -----------
    FORM
------------*/
