/* -----------
    GENERAL
------------*/

* { 
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

.bodyGrid {
    display: grid;
    grid-template-areas: "nav nav nav"
                         "head head head"
                         "book book side"
                         "book book side"
                         "foot foot foot";
}

/* -----------
    NAVBAR
------------*/

.navbar {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: white;
    font-size: 1.25em;
    width: 100%;
    z-index: 9999;
}

.navbarLogo {
    height: 60px;
    padding-top: 5px;
    padding-left: 10px;
}
.navbarList {
    display: flex;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;

}

.navbarLink {
    display: inline-block;
    margin: 0.08em 0.25em;
    padding: 1.2em 1em;
    border-radius: 2%;
    color: black;
    text-decoration: none;
}

.navbarLink:hover{
    background-color: rgba(205, 68, 205, 0.801);
    color: white;
}
.navbarMenu {
    display: none;
}

.menuLine {
    width: 20px;
    height: 3px;
    background-color: rgba(0,0,0,0.60);
    margin-bottom: 4px;
}

@media all and (max-width: 480px) {
    .navbar {
        flex-direction: column;
    }
    .navbarMenu {
        display: block;
        position: absolute;
        right: 20px;
        top: 21px;
    }
    .navbarList {
        list-style-type: none;
        width: 100%;
        text-align: center;
        display: none;
    }
    .navbarLink {
        display: block;
        padding: .8em .8em;
        border-top: 1px solid rgba(0,0,0,0.60);
    }
    .navbarLogo {
        height: 50px;
    }
    .active {
        display: block;
    }
    
}

/* -----------
    HEADER
------------*/

header {
    grid-area: head;
}

.headerBanner {
    position: relative;
    top: 80px;
    color: black;
}
.bannerImage {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(0,0,0,0.60);
    
}
.bannerText {
    position: absolute;
    font-family: outfit, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 5%;
    left: 5%;
}
.bannerTitle{
    font-size: 9vw;  
    font-weight: bolder; 
    margin-bottom: 1rem;
}
.bannerSubtitle{
    font-size: 6vw;  
    font-weight: lighter; 
}


/* -----------
    SECTION
------------*/
section {
    grid-area: book;
}

.booksArticle:first-child{
margin-top: 10em;
padding: 0 4em;
}

.booksArticle{
    margin-top: 2em;
    padding: 0 4em;
    }

.booksArticle  h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    padding-bottom: 1.5rem;
}

.booksContainer {
    padding: 1em;
    width: 80%;
    overflow: hidden;
}

.booksList {
    display: flex;
    list-style-type: none;
    width: 100%;  
}

.bookThumbnail img {
    width: 100%;
    height: auto;
}

.bookTwo {
    position: absolute;
    margin-left: 8%;
}

.bookThree {
    position: absolute;
    margin-left: 16%;
}

.bookFour {
    position: absolute;
    margin-left: 24%;
}

.bookFive {
    position: absolute;
    margin-left: 32%;
}

.bookSix {
    position: absolute;
    margin-left: 40%;
}

.bookSeven {
    position: absolute;
    margin-left: 48%;
}

.booksLink {
    display: flex;
    position: absolute;
    margin-left: 56%;
    opacity: 55%;
}

.bookThumbnail:hover {
    z-index: 2;
    transform: scale(1.1);
    transition: .2s;
}

.bookThumbnail:not(:hover) {
    transform: scale(1);
    transition: .2s;
}

.booksLink:hover {
    opacity: 95%;
}


/* -----------
    ASIDE
------------*/

aside {
    grid-area: side;
    background-color: black;
}



/* -----------
    FOOTER
------------*/

footer {
    grid-area: foot;
    background-color: #C09F80;
}

.footerContainer {
    display: grid;
    grid-template-areas: "about faq acc"
                         "soc soc soc"
                         "copy copy copy";
    row-gap: 2em;
    justify-items: center;
    padding: 2em;
    color: white;
}

.footerContainer h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
}

.footerContainer ul {
    list-style-type: none;
    font-size: 1.2em;
}

.footerContainer li {
    margin-top: 1em;
}

.footerContainer a {
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.footerContainer a:hover {
    color: #565656;
}

.footerAbout {
    grid-area: about;
}

.footerFaq {
    grid-area: faq;
}

.footerAccount {
    grid-area: acc;
}

.footerSocial {
    grid-area: soc;
    display: flex;
    align-items: center;

}

.footerSocial .fa-stack .fa-stack-1x {
    color: #ffffff;
	transition: all 0.2s ease;
}

.footerSocial .fa-stack .fa-stack-2x {
	color: #565656;
	transition: all 0.2s ease;
}

.footerSocial .fa-stack:hover .fa-stack-1x {
	color: #565656;
}

.footerSocial .fa-stack:hover .fa-stack-2x {
    color: #ffffff;
}

.footerCopyright {
    grid-area: copy;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1em 4em;
    border: 1px solid #646464;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
}

.developerInfo {
    display: flex;
    align-items: center;
    font-family: Outfit, "Open Sans", sans-serif;
    font-size: 1.2em;
}

.developerInfo img {
    height: 3.5em;
    margin-left: .8em;
}

/* -----------
    FORM
------------*/
